* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  background: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 5%;
  color: #fff;
}